body {
	background: lightgray;
	font-family: arial;
}

h1 {
	text-align: center;
	font-family: cursive;
}

.red{
	color: darkred;
}


.green {
	color: mediumseagreen;
}

.black {
	color: black;;
}

li {
	font-size: larger;
}